.backdrop{
    width: 100vw;
 height: 100vh;
 background: rgba(0, 0, 0, 0.2);
 position: fixed;
 top: 0;
 transition: opaciti 250ms, visibility 250ms;
 }
 .modal{
     width: 528px;
     min-height: 581px;
     background: #FFFFFF;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 4px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 transition: opaciti 250ms, visibility 250ms;
 padding: 40px;
 }
 .modal__btn{
     position: absolute;
     width: 30px;
 height: 30px;
 background: #FFFFFF;
 border: 1px solid rgba(0, 0, 0, 0.1);
 box-sizing: border-box;
 border-radius: 50%;
 top: 8px;
 right: 8px;
 }
 .modal__icon{
     cursor: pointer;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
     &:hover,
     &:focus{
     fill: var(--heder-mailto-color);
 }
 }
 
  .is-hidden{
     opacity: 0;
     pointer-events: none;
     visibility: hidden;
 } 
 .modal__title{
    font-weight: 700;
 font-size: 20px;
 line-height: calc(23 / 20);
 text-align: center;
 letter-spacing: 0.03em;
 color: #212121;
  
 }
 .modal__label{
     font-size: 12px;
 line-height: calc(14 / 12);
 letter-spacing: 0.01em;
 color: #757575;
 
 }
 .modal__input{
     width: 100%;
     height: 40px;
     border: 1px solid rgba(33, 33, 33, 0.2);
     box-sizing: border-box;
 border-radius: 4px;
 cursor: pointer;
 outline: none;
  padding-left: 42px; 
 }
 
 .modal__input:hover,
 .modal__input:focus,
 .comment__input:hover,
 .comment__input:focus
 {
     border-color: var(--heder-mailto-color);
 }
 .modal__input:hover + .name-icon,
 .modal__input:focus + .name-icon,
 .modal__input:hover + .tel-icon,
 .modal__input:focus + .tel-icon,
 .modal__input:hover + .email-icon,
 .modal__input:focus + .email-icon
 {
 fill: var(--heder-mailto-color);
 }
 
 .comment__input{
     width: 100%;
     height: 120px;
     border: 1px solid rgba(33, 33, 33, 0.2);
 box-sizing: border-box;
 border-radius: 4px;
 resize: none;
 padding: 12px 16px;
  outline: none; 
 }
 .comment__input::placeholder{
     position: absolute;
     font-size: 12px;
 line-height: calc(14 / 12);
 letter-spacing: 0.01em;
 color: rgba(117, 117, 117, 0.5);
 
 }
 
 .container__svg{
     position: relative; 
 }
 .form__field{
     margin-bottom: 28px; 
 }
 .name-icon, .tel-icon, .email-icon{
     position: absolute; 
     left: 15px;
     top: 50%;
     transform: translateY(-50%);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
 }
 .checkbox{
    margin-top: 20px;
    margin-bottom: 30px;
     }
    .check__text{
        font-size: 14px;
        height: 16px;
        font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
    display: flex; 
    align-items: center;
        
    }
    .check__text span{
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        margin-right: 5px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .modal__check:checked +.check__text>.check__icon {
        background-color: var(--heder-mailto-color);
        border: 2px solid var(--heder-mailto-color);
    } 
    
    .check__link{
        margin-left: 2px;
        font-size: 14px;
        line-height: 1.71;
        color:var(--heder-mailto-color);
        text-decoration: underline;
    }
    
    
    .btn__send{
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
         display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        margin-right: auto;
        margin-left: auto;
        padding: 10px 55px 10px 56px;
        border-width: 0px;
        color: var(--section-h);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
        border-radius: 4px;
        cursor: pointer;  
        background-color: var(--heder-mailto-color);
        border-color: var(--heder-mailto-color); 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
        background: #188CE8;
    } 
    } 
    