.section--asser-background{
    
    background-color: #F5F4FA;
    }
.about{
    display: flex;
}
 .about__item+.about__item{
    margin-left: 30px;
} 
.about__item{
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.about__tumb{
    padding-top: 30px;
    padding-bottom: 30px;
}
.about__title{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--heder-link-mailto);
margin-bottom: 10px;
}
.about__text{
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--heder-tel-color);
 margin-bottom: 16px;
}
.socials
{ 
    display: flex;
    justify-content:center;
}
.socials__link{
    width: 44px;
    height: 44px;
    background-color: var(--section-h);
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    color:#afb1b8;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    background-color: var(--heder-mailto-color);
    color: var(--section-h);
}
}
 .socials__icon{
     fill: currentColor; 
} 

.socials__item{
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }  
}
